html, body {
    min-height: 100hv;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(rgb(58, 153, 117), rgb(138, 149, 153));
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h2 {
    font-family: "Roboto";
} 

h1, h3 {
    font-family: "Lobster", cursive;
}

p {
    font-family: "Roboto";
}

h2 {
    color: rgb(36, 84, 156);
    font-family: "Lobster", cursive;
}

h3 {
    color: rgb(4, 23, 51);
}

h4 {
    font-family: cursive;
}

header {
    padding: 30px;
    background-image: linear-gradient(rgb(4, 23, 51), rgb(36, 84, 156));
    color: #9d714e;
}

header h2 {
    color: rgb(138, 149, 153); 
    font-family: cursive;
    font-size: 20px;
}

.navbar {
    background-color: #9d714e;
}

.tips-title {
    color: rgb(4, 23, 51);
    text-decoration: underline;
}

footer {
    color: rgb(138, 149, 153);
    background-image:linear-gradient(rgb(36, 84, 156), rgb(4, 23, 51));
    padding: 20px 0;
    width: 100%;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

section h4 {
    font-family: "Lobster", cursive;
}

section p {
    font-family: cursive; 
    margin: 10px;
}

/* Nav tabs on about me page*/
.nav-tabs {
    background-color: rgb(58, 153, 117);
    border-radius: 5px 5px 0 0;
    font-family: "Lobster", cursive;
}

.nav-tabs .nav-item .nav-link {
    color: rgb(36, 84, 156);
}

.nav-tabs .nav-item .nav-link.active {
    color: rgb(36, 84, 156);
    background-color: white;
}

.nav-tabs .nav-item .nav-link:hover {
    color: rgb(36, 84, 156);
    background-color: white;

}

.tab-content {
    border: 1px solid rgb(58, 153, 117);
    border-top: none; 
    padding: 10px; 
    border-radius: 5px;
    background-color: white;
}